# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log
.pytest_cache/
.coverage
htmlcov/

# Virtualenv
my_env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# OS
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
.env.*